<!DOCTYPE html>
<html>
<head>
    <include href="blocks/head.html" />
</head>
<body>
    <include href="blocks/nav.html" />
    <div class="container">
        Latest Videos
        <div class="video-list-row clearfix">
            <repeat group="{{ @new }}" value="{{ @item }}">
                <include href="blocks/video-thumb.html" />
            </repeat>
        </div>
        <br>

        Most Played
        <div class="video-list-row clearfix">
            <repeat group="{{ @top }}" value="{{ @item }}">
                <include href="blocks/video-thumb.html" />
            </repeat>
        </div>
    </div>
</body>
</html>
