<nav class="navbar navbar-toggleable-md navbar-light navbar-full bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <a class="navbar-brand" href="{{ @BASE }}/">{{ @sitename }}</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ @BASE }}/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ @BASE }}/top">Top</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ @BASE }}/new">New</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0" action="{{ @BASE }}/search" method="get">
                <input class="form-control mr-sm-2" type="text" name="q" value="{{ @@GET.q | esc }}">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<br>

<!-- Alerts -->
<check if="{{ !empty(@_error) }}">
    <div class="container">
        <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ @_error | esc }}
        </div>
    </div>
</check>
<check if="{{ !empty(@_success) }}">
    <div class="container">
        <div class="alert alert-success alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ @_success | esc }}
        </div>
    </div>
</check>
